/*
  Author: Chris McClain
  Abstract: Style sheet for Managing Cancer Registry
            and Clincial Coding Repository
*/

.table {
    width: 100%;
}

.labels {
    width: 151px;
}

.ErrorMessage {
    color: red;
}

fieldset {
            height: 250px;
            width: 400px;
            display: inline-block;
}

legend {
    font-family: 'Lucida Calligraphy';
}

