/*
  Class: CPDM Capstone
  Author: Chris McClain
  Abstract: Style sheet for Cancer Registry and Clinical Coding Repository
  Date: July 15, 2017
*/

* 
{
    font-family: Arial;
}

header
{
    background-color: aliceblue;
    width: 100%;
    height: 20px;
    text-align: center;
    color: blue;
}


.MainMenu
{
  height: auto;
  width: auto;
  float:left;
  position: absolute;
} 

.MainMenu ul li
  {
    background-color: aliceblue;
    border: solid 1px;
    color: blue;
    width: auto;
  }

h1 
{
    font-size: 20px;
    padding: 0;
    margin: 0 0 10px 0;
    color: blue;
}

.title 
{
    text-align:center;
}

#PageWrapper 
{
    width: 100%;
    margin: auto;
}

nav 
{
    width: 844px;
}

section#MainContent 
{
    width: 750px;
    float: left;
    margin-left: 220px;
}

    section#MainContent a 
    {
        color:#10c9af;
        text-decoration: underline;
    }

.ErrorMessage 
{
    color:red;
}
